:root{
    --color-primary:#F50057;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Piazzolla:ital@0;1&display=swap');

body{
    font-family:'Piazzolla', serif;
}
.link{
    text-decoration: none;
}

.link-primary{
    background-color: var(--color-primary);
    padding:0.5rem 0.5rem;
    border-radius:0.5rem;
    color:white;
    
    }
.link-secondary{
    border:solid;
    padding:0.5rem 0.5rem;
    border-color:var(--color-primary);
    border-radius:0.5rem;
    color:var(--color-primary);
    margin:0.5rem;
    
}
.list-non-bullet{
    list-style: none;
    
}
.list-item-inline{
    list-style: none;
    display: inline;
    padding: 0.5rem 1rem;
}
.navigation-container{
    background-color: var(--color-primary);
    color:white;
    padding: 0.2rem 0.5rem ;
    border-bottom-left-radius: 0.5rem ;
  }
.navigation-container .nav-pills{
    text-align: right;
    
    }
.navigation-container .link{
    color:white;
}
.navigation-container .link-active{
    font-weight: bold;
    }
.hero{
    margin: auto;
    text-align: center;
    
    }
.hero .hero-img{
    height:50vh;
    width:50vw;
    margin: auto;
    padding: 1rem;
    
}
.section-white{
    text-align: center;
    padding-bottom: 1rem;
    }
.section-offwhite{
    text-align: center;
    background-color: #E2E8F0;
    padding-bottom:1rem;
}
.footer{
    background-color: var(--color-primary);
    text-align: center;
    border-top-right-radius: 0.5rem;
    padding:0rem 0.5rem;
}
.container-center{
    text-align: center;
}

