:root{
    --color-primary:#F50057;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Piazzolla:ital@0;1&display=swap');

body{
    font-family:'Piazzolla', serif;
}

.link-primary{
    background-color: var(--color-primary);
    padding:0.5rem 0.5rem;
    border-radius:0.5rem;
    color:white;
    text-decoration: none;
    }
.link-secondary{
    border:solid;
    padding:0.5rem 0.5rem;
    border-color:var(--color-primary);
    border-radius:0.5rem;
    color:var(--color-primary);
    margin:0.5rem;
    text-decoration: none;
}
.non-bullet{
    list-style: none;
    
}
.inline-item{
    list-style: none;
    display: inline;
}
