@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --color-primary: #0a3d62;
    --color-primary2: #82ccdd;
    --color-white: white;
    --color-ow: #7fb8b8;
    --color-gray: gray;
    --color-yellow: #e3ebc2;
    --color-pink: rgb(199, 64, 154);
}
h1{
    text-align: center;
    
    border-radius: 0.5rem;
    color: var(--color-primary);
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 2rem auto;
    padding: 2rem 12rem;
    line-height: 1.5rem;
    
}
.bot-steps{
    width: 60vw;
    height: auto;
    margin: 2rem auto;
}
video{
    margin: 2rem auto;
    display: block;
    width: 60vw;
    height: auto;
}