:root {
    --color-primary: #14532D
    ;
    --color-white: white;
    --color-ow: #BBF7D0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Piazzolla:ital@0;1&display=swap');

body {
    font-family: 'Piazzolla', serif;
}

.container-center {
    text-align: center;
    padding: 1rem 0.8rem;
    max-width: 70vw;
    margin: auto;
}

.link {
    text-decoration: none;
    border-radius: 0.5rem;

}

.link-active{
    font-weight: bold;
}

.link-primary {
    background-color: var(--color-primary);
    padding: 0.5rem 0.5rem;
    color: var(--color-white);

}

.link-secondary {
    border: solid;
    padding: 0.3rem 0.5rem;
    border-color: var(--color-primary);
    color: var(--color-primary);
    margin: 0.5rem;

}

.list-non-bullet {
    list-style: none;

}

.list-item-inline {
    list-style: none;
    display: inline;
    padding: 0.5rem 1rem;
}

.navigation {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0.2rem 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.navigation .nav-pills {
    text-align: right;

}

.navigation .link {
    color: var(--color-white);
}

.navigation-container .link-active {
    font-weight: bold;
}

.hero {
    margin: auto;
    text-align: center;

}


.hero-img {
    height: 50vh;
    width: 50vw;
    margin: auto;
    padding: 1rem;

}

.hero-heading{
    color:gray;
}

.section {
    text-align: center;
    padding:1rem 1rem;
}

.section-head{
    color:var(--color-primary);
}

.section-offwhite {
    padding: 1rem 1rem 2rem 1rem;
    background-color: var(--color-ow);

}

.footer {
    background-color: var(--color-primary);
    text-align: center;
    border-top-right-radius: 0.5rem;
    padding: 0.1rem 0.1rem;
}